*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav li{
    display: inline;
}

nav a {
    text-decoration: none;
}

nav ul{
    list-style-type: none;
}

form div {
    margin-bottom: 10px;
}