*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    margin: 20px;
}

nav {
    margin: 20px 0;
}

input{
    box-sizing:border-box
} 

nav li{
    display: inline;
    margin-right: 12px;
}

nav a {
    text-decoration: none;
}

nav ul{
    list-style-type: none;
}

main article {
    margin: 20px 0;
}

.duas-colunas article{
    padding: 15px;
    border: 1px rgb(135, 130, 130) solid;
}

article h2 {
    margin-bottom: 12px;
}

form div {
    margin-bottom: 10px;
}

form input[type=text]{
    display: inline-block;
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border-width: 1px;
    border-color: rgb(208, 203, 203);
}

form input[type=text]:disabled{
    background-color: rgb(235, 235, 235);
}

button[type=submit] {
    background-color: #084C61;
    font-size: 16px;
    border: none;
    color: white;
    padding: 6px 8px;
    text-decoration: none;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 4px;
}

.resultado {
    padding: 24px 0;
    word-wrap: break-word;
    max-width: 500px;
}

.duas-colunas {
    display: flex;
}

.duas-colunas:after {
    content: "";
    display: table;
    clear: both;
}
  
.duas-colunas article {
    flex: 40%;
    margin-right: 20px;
}

@media screen and (max-width: 700px) {
    .duas-colunas {
      display: block;
    }
}